*,
*::before,
*::after {
  box-sizing: border-box;
}



html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #000000;
}

::-webkit-scrollbar {
  width: 7.5px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #565356;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #706f70;
}